<%- include('partials/header') %>
<link rel="stylesheet" href="/css/mode.css">
</head>
<%-include('partials/nav') %>
<body>
    <div class="container">
        <h1 class="title">Voici votre prochaine mission</h1>
        <h4 class="difficulty">Niveau : Facile</h4>
        <div class="section">
            <div class="section-left">
                <img class="section-img" src="/img/img_agent/<%= agent.name %>.png" alt="Une image de <%= agent.name %>">
                <em class="quote">"<%= agent.quote %>"</em>  
            </div>
            <div class="section-right">
                <% if (agent.name === "Kayo") { %>
                    <h1 class="animate-text">KAY/O</h2>
                <% } else { %>
                    <h1 class="animate-text"><%= agent.name %></h1>
                <% } %>
                <p class="animate-text"><%= agent.role.name %></p>
                <h3 class="animate-text">Arsenal :</h3>
                <p class="animate-text">Illimité, et selon vos goûts</p>
                <h3 class="animate-text">Compétences :</h3>
                <p class="animate-text">Vous voilà en pleine forme et libre d'utiliser toutes vos compétences quand elles sont disponibles !</p>
                <a href="/generator/easy" class="chance"><button class="animate-text">Nouvelle mission ?</button></a>
            </div>
        </div>
        <script src="/js/modes.js"></script>
    </div>
</body>
</html>