<%- include('partials/header') %>
<link rel="stylesheet" href="/css/mode.css">
</head>
<%-include('partials/nav') %>
<body>
    <div class="container">
        <h1 class="title">Voici votre prochaine mission</h1>
        <h4 class="difficulty">Niveau : Difficile</h4>
        <div class="section">
            <div class="section-left">
                <img class="section-img" src="/img/img_agent/<%= agent.id %>.png" alt="Une image de <%= agent.name %>">
                <em class="quote">"<%= agent.quote %>"</em>  
            </div>
            <div class="section-right">
                <h1 class="animate-text"><%= agent.name %></h1>
                        <p class="animate-text"><%= agent.role.name %></p>
                    <h3 class="animate-text">Arsenal disponible :</h3>
                        <p class="animate-text"><span><%= agent.weapons[k].type.name %></span> : <%= agent.weapons[k].name %></p>
                        <p class="animate-text"><span><%= agent.weapons[l].type.name %></span> : <%= agent.weapons[l].name %></p>
                        <p class="animate-text"><span><%= agent.weapons[m].type.name %></span> : <%= agent.weapons[m].name %></p>
                         <% if (k === 0 || l === 0 || m === 0) { %>
                             <em class="animate-text classic">Le classic... Une vraie mission !</em>
                         <% } %>
                    <h3 class="animate-text">Compétence interdite :</h3>
                        <% const agentSkills = agent.skills.map(skill => skill) %>
                        <% for( let i = 0; i < agentSkills.length; i++ ) { %>
                            <% if (i === n) { %>
                                <div class="skill">
                                <img class="img-skill hidden" src="/img/icon_skill/<%= agentSkills[n].id %>.png" alt="Icone de <%= agentSkills[n].name %>">
                                <p class="animate-text"><%= agentSkills[n].name %></p>
                                </div>
                                <p class="desc-skill animate-text"><%= agentSkills[n].description %></p>
                            <% } %>
                        <% } %>
                        <a href="/generator/hard" class="chance"><button class="animate-text">Nouvelle mission ?</button></a>
            </div>
        </div>
    </div>

    <script src="/js/modes.js"></script>
</body>
