<%- include('partials/header') %>
<link rel="stylesheet" href="/css/mode.css">
</head>
<%-include('partials/nav') %>
<body>
    <div class="container">
        <h1 class="title">Voici votre prochaine mission</h1>
        <h4 class="difficulty">Niveau : Intermédiaire</h4>
        <div class="section">
            <div class="section-left">
                <img class="section-img" src="/img/img_agent/<%= agent.id %>.png" alt="Une image de <%= agent.name %>">
                <em class="quote">"<%= agent.quote %>"</em>  
            </div>
            <div class="section-right">
                <h1 class="animate-text"><%= agent.name %></h1>
                    <p class="animate-text"><%= agent.role.name %></p>
                    <h3 class="animate-text test">Arsenal :</h3>
                <% const typeOne = agent.weapons.filter(weapon => weapon.type_id === 1)
                const randomWeaponOne = typeOne[n] %>
                    <p class="animate-text"><span>Arme de poing</span> :   <%= randomWeaponOne.name %></p>
                <% const typeTwo = agent.weapons.filter(weapon => weapon.type_id === 2)
                const randomWeaponTwo = typeTwo[j] %>
                    <p class="animate-text"><span class="animate-text">PM</span> :   <%= randomWeaponTwo.name %></p>
                <% const typeThree = agent.weapons.filter(weapon => weapon.type_id === 3)
                const randomWeaponThree = typeThree[k] %>
                    <p class="animate-text"><span>Fusil à pompe</span> : <%= randomWeaponThree.name %></p>
                <% const typeFour = agent.weapons.filter(weapon => weapon.type_id === 4)
                const randomWeaponFour = typeFour[m] %>
                    <p class="animate-text"><span>Fusil</span> : <%= randomWeaponFour.name %></p>
                <% const typeFive = agent.weapons.filter(weapon => weapon.type_id === 5)
                const randomWeaponFive = typeFive[l] %>
                    <p class="animate-text"><span>Sniper</span> : <%= randomWeaponFive.name %></p>
                <% const typeSix = agent.weapons.filter(weapon => weapon.type_id === 6)
                const randomWeaponSix = typeSix[o] %>
                    <p class="animate-text"><span>Mitrailleuse</span> : <%= randomWeaponSix.name %></p>
                <h3 class="animate-text">Compétences :</h3>
                    <p class="animate-text">Vous voilà en pleine forme et libre d'utiliser toutes vos compétences quand elles sont disponibles !</p>
                    <a href="/generator/medium" class="chance"><button class="animate-text">Nouvelle mission ?</button></a>
            </div>
        </div>

    </div>

    <script src="/js/modes.js"></script>
</body>    
<%- include('partials/footer') %>
