<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/mode.css">
    </head>
    <%-include('partials/nav') %>

 <body>
  <h1 class="perso-title">Voici votre équipe :</h1>
  <div class="perso">
    <% for (let currentPlayer = 1; currentPlayer <= numberOfPlayers; currentPlayer++) { %>
      <div class="player">
        <% if (firstTeam[currentPlayer - 1] === "") { %>
          <h3>Joueur <%= currentPlayer %> :</h3>
        <% } else { %>
          <h3><%= firstTeam[currentPlayer - 1] %> :</h3>
        <% } %>
        <% const playerIndex = 'playerIndex' + currentPlayer; %>
        <% if (req.session[playerIndex] >= 0 && req.session[playerIndex] < agents.length) { %>
            <% const agentIndex = req.session[playerIndex]; %>
          <img class="icon" src="/img/icon_agent/<%= agents[agentIndex].id %>.png"
            alt="icone de <%= agents[agentIndex].name %>">
          <h3><%= agents[agentIndex].name %></h3>
        <% } %>
      </div>
    <% } %>
  </div>
</body>